extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  include ../common/hero.pug
  include ../common/about.pug
  include ../common/map.pug
  include ../common/footer.pug


